{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h1 class="card-title">Curva de Precisión</h1>
                </div>
                <div class="card-body p-4">
                        <div class="d-flex flex-column mb-4">
                            <div class="text-center">
                                <img class="img-fluid card-img" src="{{ url_for('static', filename='images/precision_recall_curve.png') }}"/>
                            </div>
                            <small class="mx-auto">Figura 4: Curva de Precisión. Fuente: Elaboración Propia</small>
                        </div>
                        <p>Esta gráfica representa la curva de precisión-recall, la cual es una medida útil del éxito de la predicción cuando las clases están muy desequilibradas. La curva muestra el balance entre la precisión y el recall para diferentes umbrales. Un área alta debajo de la curva representa un recall alto y una precisión alta, donde la primera se relación tasa baja de falsos negativos y la segunda, una tasa baja de falsos positivos. </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}