{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h1 class="card-title">Matriz de Confusión</h1>
                </div>
                <div class="card-body p-4">
                       <div class="d-flex flex-column mb-3">
                        <div class="text-center">
                            <img class="img-fluid card-img" src="{{ url_for('static', filename='images/confusion_matrix.png') }}"/>
                        </div>
                        <small class="mx-auto">Figura 2: Matriz de Confusión. Fuente: Elaboración Propia</small>
                       </div>
                        <p>Esta gráfica muestra la matriz de confusión para la mejor parametrización del modelo, esta permite visualizar el desempeño del algoritmo utilizado. Además, cada columna de la matriz representa el número de predicciones de cada clase, en este caso, fraude y no fraude; mientras que cada fila representa las instancias de la clase real. En otras palabras, la matriz contiene los verdaderos positivos, verderos negativos, falsos positivos y falsos negativos que se obtuvieron del modelo predictivo. </p>
                </div>
                <div class="card-footer">
                   <p>Para mayor claridad de conceptos, visitar el siguiente <a href="https://www.datasource.ai/es/data-science-articles/comprension-de-la-matriz-de-confusion-y-como-implementarla-en-python">link</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}