{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h1 class="card-title">Métricas de Entrenamiento Manual</h1>
                </div>
                <div class="card-body p-4">
                    <div class="d-flex flex-column mb-4">
                        <div class="text-center">
                            <img class="img-fluid card-img" src="{{ url_for('static', filename='images/metrics.png') }}"/>
                        </div>
                        <small class="mx-auto">Figura 3: Métricas de entrenamiento manual. Fuente: Elaboración Propia</small>
                    </div>
                    <p>Esta gráfica contiene varias métricas obtenidas de 20 entrenamientos manuales que se realizaron antes de obtener el mejor set de parámetros. Así, se muestran: </p>
                    <ul>
                        <li><strong>Exactitud:</strong> Métrica que evidencia tan cerca está una medida del valor verdadero o aceptado.</li>
                        <li><strong>Precisión:</strong> Indica qué tan cerca están las medidas entre sí. Es el número de resultados positivos verdaderos dividido por el número de todos los resultados positivos.</li>
                        <li><strong>Recall o Métrica de Exhaustividad:</strong> Mide la proporción de etiquetas positivas reales identificadas correctamente por el modelo.</li>
                        <li><strong>Puntaje F1:</strong> Representa la media armónica de la precisión y el recall explicadas anteriormente.</li>
                        <li><strong>MSE:</strong> Error cuadrático medio.</li>
                        <li><strong>MAE:</strong> Error absoluto medio.</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <p>Para mayor claridad de conceptos, visitar el siguiente <a href="https://www.datasource.ai/es/data-science-articles/comprension-de-la-matriz-de-confusion-y-como-implementarla-en-python">link</a></p>
                 </div>
            </div>
        </div>
    </div>
{% endblock %}